<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h2>All users</h2>
<br>
<table>
    <tr>
        <th>Name</th>
        <th>Password</th>

    </tr>
    <tr th:each="user: ${allUsers}">
        <td th:text="${user.getUserName()}"/>
        <td th:text="${user.getPassword()}"/>

        <td><input type="button" value="UPDATE" th:data-url="@{/admin/updateInfo/{id}/(id=${user.getId()})}"
                   onclick="window.location.href= this.getAttribute('data-url');"/>
            <input type="button" value="DELETE" th:data-url="@{/admin/deleteUser/{id}/(id=${user.getId()})}"
                   onclick="window.location.href= this.getAttribute('data-url');"/>

    </tr>
</table>
<br>
<input type="button" value="Add"
       onclick="window.location.href='admin/addNewUser'"/>
    <br/><br>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="LOGOUT"/>
    </form>

